{% extends "base_generic.html" %}
  {% load static %}
{% block content %}
  <div class="center-block blog-section" style="text-align: center;">
    <h1 class="skills-header">{{ blog.blogName }}</h1>
    <div class="col-lg-8 center-block blogs-overview">
      {% if blog.messages.count > 0 %}
        {% for message in blog.messages.all %}
          <div>{{ message.title }}</div>
        {% endfor %}
      {% else %}
        <p style="text-align: center;">There are no messages yet.</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
