{% extends "base_generic.html" %}

{% block content %}
  <div class="center-block blog-section" style="text-align: center;">
    <h1 class="skills-header">Create a New Blog</h1>
    <div class="superuser-form-container col-lg-4 center-block">
      <form enctype="multipart/form-data" method="post" action="">
        {% csrf_token %}
        {% if form.non_field_errors %}
          <div style="color: red; font-weight: bold;:">
            Please fix the following errors:<br>
            {{ form.non_field_errors }}
          </div>
        {% endif %}
        {% for field in form %}
          {% if field.label != "Catagories" %}
            <div style="display: inline-block;">
              {{ field.label_tag }}
            </div>
            <div style="display: inline-block;">
              {{ field }}
            </div><br>
          {% else %}
            <div style="display: inline-block; margin-top: 10px; vertical-align: top;">{{ field.label_tag }}</div>
            <div class="mtm-dropdown">{{ field }}</div>
          {% endif %}
        {% endfor %}
        <button type="btn submit" class="form-submit-btn">Create</button>
      </form>
    </div>
  </div>
{% endblock %}
