<!DOCTYPE html>
<html lang="en">
<head>
  {% block title %}<title>Mike's Portfolio</title>{% endblock %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Orbitron:wght@600&family=Share+Tech+Mono&display=swap" rel="stylesheet">
  <!-- Add additional CSS in static file -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'font-awesome/css/all.css' %}">
  <link rel="stylesheet" href="{% static 'font-awesome/css/solid.css' %}">
  <link rel="stylesheet" href="{% static 'font-awesome/css/regular.css' %}">
  <link rel="stylesheet" href="{% static 'font-awesome/css/brands.css' %}">
  <link rel="stylesheet" href="{% static 'font-awesome/css/fontawesome.css' %}">
  <script type="text/javascript" src="{% static 'js/jquery-3.5.1.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/myjs.js' %}"></script>
</head>
<body>
  <div class="container-fluid">
    <div class="site-header">
      <div class="navbar-header"><a href="{% url 'index' %}">Mike's Portfolio</a></div>
      {% block navbar %}
        <ul class="navigation">
          <li><a href="{% url 'index' %}">
            <span class="nav-name">Home</span>
            <span class="nav-icon"><i class="fas fa-home"></i></span>
          </a></li>
          <li><a href="{% url 'projects' %}">
            <span class="nav-name">Projects</span>
            <span class="nav-icon"><i class="fas fa-project-diagram"></i></span>
          </a></li>
          <li><a href="{% url 'practice' %}">
            <span class="nav-name">Practice</span>
            <span class="nav-icon"><i class="fas fa-brain"></i></span>
          </a></li>
          <li><a href="">
            <span class="nav-name">Blog</span>
            <span class="nav-icon"><i class="fas fa-blog"></i></span>
          </a></li>
        </ul>
      {% endblock %}
    </div>
    <div class="col-lg-10 center-block content">{% block content %}{% endblock %}</div>
    <div class="col-lg-10 center-block footer">
      <h5>Links:</h5>
      <div>
        <div class="sm-link">
          <a href="https://github.com/mike11695"><i class="fab fa-github icon"></i></a>
        </div>
        <div class="sm-link">
          <a href="https://www.linkedin.com/in/michael-lopez-86a686135/"><i class="fab fa-linkedin icon"></i></a>
        </div>
        <div class="sm-link">
          <a href="https://discord.gg/T5KDJ3tVJ4"><i class="fab fa-discord icon"></i></a>
        </div>
      </div>

      <div class="credit">Site developed by Mike.<br>
        Credit to Avataaars for the profile picture.<br>
        Credit to Font Awesome for the icons.<br>
        Credit to Google for the fonts.
      </div>
    </div>
  </div>
</body>
</html>
