{% extends "base_generic.html" %}
  {% load static %}
{% block content %}
  <div class="center-block homepage-section" style="text-align: center;">
    <h1 class="skills-header">All About Mike!</h1>
    <div class="col-lg-3 my-picture-container">
      <img class="avatar-photo" src="{% static 'me.png' %}"></img>
    </div>
    <div class="col-lg-8 about-me-1">
      Hello!  Thanks for viewing my portfolio.  My name is Michael Lopez, and I
      am an inspiring web developer.  My love for web development came from the
      website Neopets, which allows you to edit your virtual pets home pages
      using HTML and CSS.  Through designing web pages, I was inspired to go after
      web development as a career and enrolled in college.  Through college, I
      learned about programming, using C++ at first but then afterwards learning
      Java, Ruby, Python and a few other languages.
    </div>
    <div class="col-lg-10 about-me-2">
      I began to develop sites
      in my time after graduating with an associates in Computer Technology at
      SUNY Jefferson in Watertown, New York.  I used Ruby-on-Rails for the backend
      of my sites and used HTML/CSS/JavaScript for the frontend.  I was able to
      build a project for a friend for the very site that got me into web design,
      Neopets.  Eventually, I went back to college as I decided to switch majors
      to Computer Science and graduated from SUNY Potsdam with my Bachelors at
      the end of 2020.  I now prefer developing sites using Django for the backend
      and have worked on two projects utilizing it.
    </div>
    <div class="col-lg-10 about-me-2">
      When I'm not writing code, I enjoy spending times outdoors, taking walks
      through forests or by lakes and watching the animals.  I also enjoy cooking,
      playing video games and creating art, both traditionally and digitally.
      I love making pixel art the most, as I find it's a great way to relieve
      stress.
    </div>
  </div>
  <div class="center-block homepage-section" style="text-align: center;">
    <h1>Resume</h1>
    <iframe src="{% static 'resume.pdf' %}" height="700" width="500"></iframe>
    <br>
    <a href="{% static 'resume.pdf' %}" class="download" download>
      Download
    </a>
  </div>
  <div class="center-block homepage-section" style="text-align: center;">
    <h1 class="skills-header">Skills</h1>
    <div class="col-lg-4 skill-block">
      <h3 class="skills-sub-header">Learned</h3>
      <div class="skill-container atom">
        <i class="fas fa-atom skill-icon"></i>
        <br><b>Atom</b>
      </div>
      <div class="skill-container bootstrap">
        <i class="fab fa-bootstrap skill-icon"></i>
        <br><b>Bootstrap</b>
      </div>
      <div class="skill-container css">
        <i class="fab fa-css3-alt skill-icon"></i>
        <br><b>CSS</b>
      </div>
      <br>
      <div class="skill-container django">
        <i class="fab fa-dailymotion skill-icon"></i>
        <br><b>Django</b>
      </div>
      <div class="skill-container">
        <i class="fab fa-github skill-icon"></i>
        <br><b>GitHub</b>
      </div>
      <div class="skill-container heroku">
        <i class="fas fa-h-square skill-icon"></i>
        <br><b>Heroku</b>
      </div>
      <br>
      <div class="skill-container html">
        <i class="fab fa-html5 skill-icon"></i>
        <br><b>HTML</b>
      </div>
      <div class="skill-container java">
        <i class="fab fa-java skill-icon"></i>
        <br><b>Java</b>
      </div>
      <div class="skill-container javascript">
        <i class="fab fa-js skill-icon"></i>
        <br><b>JavaScript</b>
      </div>
      <br>
      <div class="skill-container linux">
        <i class="fab fa-linux skill-icon"></i>
        <br><b>Linux</b>
      </div>
      <div class="skill-container python">
        <i class="fab fa-python skill-icon"></i>
        <br><b>Python</b>
      </div>
      <div class="skill-container ror">
        <i class="fas fa-train skill-icon"></i>
        <br><b>R-o-R</b>
      </div>
      <br>
      <div class="skill-container ruby">
        <i class="fas fa-gem skill-icon"></i>
        <br><b>Ruby</b>
      </div>
      <div class="skill-container windows">
        <i class="fab fa-windows skill-icon"></i>
        <br><b>Windows</b>
      </div>
    </div>
    <div class="col-lg-3 skill-block">
      <h3 class="skills-sub-header">Worked With</h3>
      <div class="skill-container2 android-studio">
        <i class="fab fa-android skill-icon"></i>
        <br><b>A. Studio</b>
      </div>
      <div class="skill-container2 c-plus-plus">
        <i class="fas fa-plus-circle skill-icon"></i>
        <br><b>C++</b>
      </div>
      <br>
      <div class="skill-container2 docker">
        <i class="fab fa-docker skill-icon"></i>
        <br><b>Docker</b>
      </div>
      <div class="skill-container2 firebase">
        <i class="fas fa-fire-alt skill-icon"></i>
        <br><b>Firebase</b>
      </div>
      <br>
      <div class="skill-container2 jquery">
        <i class="fas fa-question-circle skill-icon"></i>
        <br><b>JQuery</b>
      </div>
      <div class="skill-container2 mysql">
        <i class="fas fa-database skill-icon"></i>
        <br><b>MySQL</b>
      </div>
      <br>
      <div class="skill-container2 node-js">
        <i class="fab fa-node-js skill-icon"></i>
        <br><b>Node.js</b>
      </div>
      <br>
    </div>
    <div class="col-lg-4 skill-block">
      <h3 class="skills-sub-header">Want to Learn</h3>
      <div class="skill-container angular">
        <i class="fab fa-angular skill-icon"></i>
        <br><b>Angular</b>
      </div>
      <div class="skill-container aws">
        <i class="fab fa-aws skill-icon"></i>
        <br><b>AWS</b>
      </div>
      <div class="skill-container react">
        <i class="fas fa-atom skill-icon"></i>
        <br><b>React</b>
      </div>
    </div>
  </div>
  <div class="center-block homepage-section" style="text-align: center;">
    <h1>Contact</h1>
    <div class="col-lg-5 center-block form-container">
      <form action="{% url 'send-email'%}" method="POST">
        {% csrf_token %}

        <label for="fullname">Name</label>
        <input type="text" class="email-form-field" id="fullname" name="fullname"
          placeholder="Your Full Name" required><br>

        <label for="email">E-mail</label>
        <input type="text" class="email-form-field" id="email" name="email"
          placeholder="Your E-mail Address" required><br>

        <label for="subject">Subject</label>
        <input type="text" class="email-form-field" id="subject" name="subject"
          placeholder="E-mail Subject" required><br>

        <label for="content">Message</label>
        <textarea id="content" name="content" placeholder=""
          style="height: 150px; width: 100%;" required></textarea><br>

        <input type="submit" class="email-me" value="Send E-mail">

      </form>
    </div>
  </div>
{% endblock %}
