{% extends "base_generic.html" %}

{% block content %}
  <div class="center-block homepage-section" style="text-align: center;">
    <h1>All About Mike!</h1>
    <p>dvvfbbbfbffbf</p>
    <p>dvvfbbbfbffbf</p>
    <p>dvvfbbbfbffbf</p>
  </div>
  <div class="center-block homepage-section" style="text-align: center;">
    <h1>Resume</h1>
    <p>dvvfbbbfbffbf</p>
    <p>dvvfbbbfbffbf</p>
    <p>dvvfbbbfbffbf</p>
  </div>
  <div class="center-block homepage-section" style="text-align: center;">
    <h1>Skills Learned</h1>
    <p>dvvfbbbfbffbf</p>
    <p>dvvfbbbfbffbf</p>
    <p>dvvfbbbfbffbf</p>
  </div>
  <div class="center-block homepage-section" style="text-align: center;">
    <h1>Skills Wanting to Learn</h1>
    <p>dvvfbbbfbffbf</p>
    <p>dvvfbbbfbffbf</p>
    <p>dvvfbbbfbffbf</p>
  </div>
  <div class="center-block homepage-section" style="text-align: center;">
    <h1>Contact</h1>
    <p>dvvfbbbfbffbf</p>
    <p>dvvfbbbfbffbf</p>
    <p>dvvfbbbfbffbf</p>
  </div>
{% endblock %}
