body {
  background-color: #404040;
}

.site-header {
  padding-top: 10px;
  padding-bottom: 5px;
  width: 100%;
  box-shadow: 0px 0px 10px 5px black;
  padding-left: 20px;
  padding-right: 20px;
  position: fixed;
  z-index: 1;
  background-color: white;
  margin-left: -15px;
}

.navbar-header {
  display: inline-block;
  margin-top: 3px;
}

.navigation {
  margin-top: 10px;
  padding: 0;
  list-style: none;
  float: right;
  display: inline-block;
}

.navigation li {
  display: inline-block;
  margin-right: 20px;
  border-right: 1px solid black;
  padding-right: 20px;
}

.navigation li:last-child {
  margin-right: 0px;
  border-right: none;
  padding-right: 0px;
}

.content {
  display: block;
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 30px 0px black;
  padding: 0px;
  background: url("/static/bg.png") no-repeat fixed center;
  background-color: white;
}

.footer {
  display: block;
  z-index: 0;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 30px 0px black;
  padding: 15px;
  text-align: center;
  background-color: #a6a6a6;
}

.homepage-section {
  background-color: white;
  padding: 20px;
  color: black;
}

.homepage-section:first-child {
  padding-top: 40px;
}

.homepage-section:nth-child(2n) {
  background: none;
  color: black;
  box-shadow:
    inset 0px 12px 15px -10px black,
    inset 0px -12px 15px -10px black;
}

.download {
  background-color: blue;
  color: white;
  font-weight: bold;
  padding: 7px;
  border-radius: 8px;
  margin-top: 10px;
  display: block;
  width: 100px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.skill-block {
  display: inline-block;
  vertical-align: top;
}

.skills-header {
  border-bottom: 1px solid grey;
  width: 75%;
  padding-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 15px;
}

.my-picture-container {
  border: 3px solid black;
  padding: 10px;
  border-radius: 130px;
  display: inline-block;
  width: 200px;
  height: 200px;
  margin-top: 10px;
}

.avatar-photo {
  width: 175px;
  height: 175px;
  border-radius: 130px;
}

.about-me-1 {
  font-family: 'Share Tech Mono', monospace;
  display: inline-block;
  text-align: left;
  vertical-align: top;
  font-size: 18px;
  padding-left: 30px;
  opacity: 1.0 !important;
}

.about-me-2 {
  font-family: 'Share Tech Mono', monospace;
  font-size: 18px;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

h1, h3 {
  font-family: 'Orbitron', sans-serif;
}

.skill-container {
  display: inline-block;
  width: 100px;
  height: 100px;
  font-family: 'Share Tech Mono', monospace;
}

.skill-container2 {
  display: inline-block;
  width: 115px;
  height: 115px;
  font-family: 'Share Tech Mono', monospace;
}

.skill-icon {
  width: 50px;
  height: 50px;
  font-size: 42px;
}

.atom:hover i {
  color: #4fc96f;
}

.bootstrap:hover i {
  color: #a26abd;
}

.css:hover i {
  color: #00aad9;
}

.django:hover i {
  color: #004f12;
}

.heroku:hover i {
  color: #5a288f;
}

.html:hover i {
  color: #f7924f;
}

.java:hover i {
  color: #76afb3;
}

.javascript:hover i {
  color: #d6d660;
}

.linux:hover i {
  color: #48b8cf;
}

.python:hover i {
  color: #dedb23;
}

.ror:hover i {
  color: #b00000;
}

.ruby:hover i {
  color: #b00000;
}

.windows:hover i {
  color: #1fdde0;
}

.android-studio:hover i {
  color: #36e083;
}

.c-plus-plus:hover i {
  color: #2b83b5;
}

.docker:hover i {
  color: #38b1f5;
}

.firebase:hover i {
  color: #ffbf00;
}

.jquery:hover i {
  color: #145aa6;
}

.mysql:hover i {
  color: #e6b70e;
}

.node-js:hover i {
  color: #7abf58;
}

.angular:hover i {
  color: #de1f1f;
}

.aws:hover i {
  color: #e6b70e;
}

.react:hover i {
  color: #64d6de;
}

.form-container {
  background-color: white;
  padding: 15px;
  text-align: left;
  border: 5px solid black;
  border-radius: 30px;
  overflow: auto;
  font-family: 'Share Tech Mono', monospace;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 0px;
}

.email-form-field {
  margin-bottom: 10px;
  width: 100%;
}

.email-me {
  float: right;
  background-color: blue;
  color: white;
  padding: 10px;
  border-radius: 15px;
  border: 0px;
}

.center-block {
  margin-left: auto;
  margin-right: auto;
}

.sm-link {
  display: inline-block;
  margin-right: 20px;
}

.sm-link:last-child {
  margin-right: 0px;
}

.sm-link a {
  color: black;
}

.icon {
  font-size: 36px;
}

.credit {
  display: block;
  font-size: 10px;
  margin-top: 10px;
}
