{% extends "base_generic.html" %}
  {% load static %}
{% block content %}
  <div class="center-block project-section" style="text-align: center;">
    <h1 class="skills-header">My Projects</h1>
    <div class="col-lg-8 center-block projects-overview">
      These are all of the projects that I am currently working on or have worked
      on.  They are ordered by current projects listed at the top, while older
      projects are listed below them.  Click on a project's title to view more
      information on them.
    </div>
  </div>
  <div class="center-block project-section" style="text-align: center;">
    <h1>List.it</h1>
    <h5><a href="https://marketapp-list-it.herokuapp.com/">Website</a><h5>
    <div class="project-imgs-li">
      <a id="left-arrow-btn-li"><i class="fas fa-arrow-left arrow"></i></a>
      <div class="ind-project-img-li"><img class="listit-img"
        src="{% static 'listit/userfeatures.png' %}"></img></div>
      <div class="ind-project-img-li"><img class="listit-img"
        src="{% static 'listit/offlistings.png' %}"></img></div>
      <div class="ind-project-img-li"><img class="listit-img"
        src="{% static 'listit/auctionlistings.png' %}"></img></div>
      <div class="ind-project-img-li"><img class="listit-img"
        src="{% static 'listit/wishlistlistings.png' %}"></img></div>
      <div class="ind-project-img-li"><img class="listit-img"
        src="{% static 'listit/search.png' %}"></img></div>
      <div class="ind-project-img-li"><img class="listit-img"
        src="{% static 'listit/notifications.png' %}"></img></div>
      <div class="ind-project-img-li"><img class="listit-img"
        src="{% static 'listit/conversation.png' %}"></img></div>
      <div class="ind-project-img-li"><img class="listit-img"
        src="{% static 'listit/events.png' %}"></img></div>
      <a id="right-arrow-btn-li"><i class="fas fa-arrow-right arrow"></i></a>
      <br>
      <div class="image-tracker-li">
        <i class="fas fa-circle circ-li"></i>
        <i class="fas fa-circle circ-li"></i>
        <i class="fas fa-circle circ-li"></i>
        <i class="fas fa-circle circ-li"></i>
        <i class="fas fa-circle circ-li"></i>
        <i class="fas fa-circle circ-li"></i>
        <i class="fas fa-circle circ-li"></i>
        <i class="fas fa-circle circ-li"></i>
      </div>
    </div>
    <div class="col-lg-10 project-info-2">
      List.it is a web application that I developed as my senior project in 2020
      at SUNY Potsdam.  The idea for the site came about after seeing my mom and
      aunt using Facebook Marketplace and groups to sell and auction off items
      that they owned.  I felt that it was a quite bit difficult to use for them
      as they had to track bids and offers throughout different groups, which can
      quickly become confusing.  I wanted to see if I could make an application
      that would be more efficient in helping users manage their items and know
      who to contact regarding items.
    </div>
    <div class="col-lg-10 project-info-2">
      When developing the site, I also had a bit of inspiration from other web
      sites such as eBay, LetGo and Carousell.  Users are able to upload pictures
      of their objects to the site and then create items using the photos.  Using
      these created items, they can either add them to listings to trade or auction
      or use them to offer on other listings.  Users are also allowed to create
      wishlists and wishlist listings to find certain items that may not currently
      be listed on site.  Users will only be able to see listings in about a 30
      mile radius of where they live, but they can use a search function to
      increase the search radius up to 50 miles.
    </div>
    <div class="col-lg-10 project-info-2">
      List.it includes some additional features such as allowing users to communicate
      through the site, leave ratings, host events, make payments on site using
      PayPal and more. To read more about these features, I have included the
      report I had made for the project below.
    </div>
    <br>
    <div class="iframe-container">
      <iframe src="{% static 'SPFR.pdf' %}"></iframe>
    </div>
    <br>
    <a href="{% static 'SPFR.pdf' %}" class="download" download>
      Download
    </a>
  </div>
  <div class="center-block project-section" style="text-align: center;">
    <h1>PetTP</h1>
    <h5><a href="http://www.pettp.com/">Website</a><h5>
    <div class="project-imgs-pt">
      <a id="left-arrow-btn-pt"><i class="fas fa-arrow-left arrow"></i></a>
      <div class="ind-project-img-pt"><img class="pettp-img"
        src="{% static 'pettp/pettphome.png' %}"></img></div>
      <div class="ind-project-img-pt"><img class="pettp-img"
        src="{% static 'pettp/pettppets.png' %}"></img></div>
      <div class="ind-project-img-pt"><img class="pettp-img"
        src="{% static 'pettp/pettpdesc.png' %}"></img></div>
      <div class="ind-project-img-pt"><img class="pettp-img"
        src="{% static 'pettp/petsearch.png' %}"></img></div>
      <div class="ind-project-img-pt"><img class="pettp-img"
        src="{% static 'pettp/submitpet.png' %}"></img></div>
      <div class="ind-project-img-pt"><img class="pettp-img"
        src="{% static 'pettp/conversation.png' %}"></img></div>
      <div class="ind-project-img-pt"><img class="pettp-img"
        src="{% static 'pettp/pettpusers.png' %}"></img></div>
      <a id="right-arrow-btn-pt"><i class="fas fa-arrow-right arrow"></i></a>
      <br>
      <div class="image-tracker-pt">
        <i class="fas fa-circle circ-pt"></i>
        <i class="fas fa-circle circ-pt"></i>
        <i class="fas fa-circle circ-pt"></i>
        <i class="fas fa-circle circ-pt"></i>
        <i class="fas fa-circle circ-pt"></i>
        <i class="fas fa-circle circ-pt"></i>
        <i class="fas fa-circle circ-pt"></i>
      </div>
    </div>
    <div class="col-lg-10 project-info-2">
      PetTP was a project that I developed as practice for Ruby-on-Rails for users
      on the site Neopets to list pets that they wanted to exchange for other pets.
      Originally, a friend had previously owned the site but it was no longer working
      or being managed, so I offered to recreate it for them.
    </div>
    <div class="col-lg-10 project-info-2">
      The site allows a user to add a pet to the site by entering their name and
      stats using a form.  After submitting the form, a call was made to Neopet's
      API in order to get the pet's color, species and other details using the pet's
      name.  However, Neopets began blocking calls to their API, so I had to change
      it so that users have to select the pet's color and species themselves.  Users
      are able to edit their pet listing at any time or delete it if they no longer
      own the pet or no longer want to trade it.
    </div>
    <div class="col-lg-10 project-info-2">
      Users are given the option to communicate on site or add a link to their
      inbox on Neopets for people to contact them.  They can easily search for pets
      they want by using the home page search functions and can view user profiles
      to see all of the pets they have for trade.  Users can also simply look
      for new homes for their pets instead of trading them by adopting them out
      if they choose to do so.
    </div>
  </div>
  <div class="center-block project-section" style="text-align: center;">
    <h1>StepApp</h1>
    <div class="col-lg-10 project-info-2">
      StepApp was a project that worked on with a team of other students my senior
      year at SUNY Potsdam.  We were tasked with creating an Android/iOS app for
      an organization at the college that would allow advisors and school students
      to communicate with one another to prepare for college.  Students were also
      provided with resources on the app that they could use to help prepare
      themselves.
    </div>
    <div class="col-lg-10 project-info-2">
      For my role in the project, I started with developing the chat feature of
      the app.  Using Android Studios and Google Firebase, I was able to develop
      a layout for the chat feature, and had just begun implementing the messaging
      feature.  However, the project was cancelled after about two months as the
      client could not afford the app and did not want us to develop the app with
      no compensation.
    </div>
    <div class="col-lg-10 project-info-2">
      Although I was not able to complete much as I would have
      liked, what I did learn inspired me into continuing app development
      one day.  Android Studios was very convenient and easy to pick up, and Firebase
      provided great support for the app.  I also enjoyed working with my team for
      the short time we had and discussing what we had accomplished and what needed
      to get done.
    </div>
  </div>
  <div class="center-block project-section" style="text-align: center;">
    <h1>Autograder</h1>
    <div class="col-lg-10 project-info-2">
      Autograder was the project I worked on with a team of other students when I
      took Software Engineering at SUNY Potsdam.  The project helped me learned how
      to use Django/Python, Docker, what sprints are and to participate in them,
      test driven development and agile methodology.  The project was to create
      a web application for professors and students where the students can submit
      their coding assignments and the professors can validate the correctness of
      their code against tests cases.
    </div>
    <div class="col-lg-10 project-info-2">
      For the project, I developed some of the models but made most of the views
      and forms for the other models.  I also wrote documentation regarding the
      forms informing the user how they should be used.  Besides the view and forms,
      I help make the site visually pleasing using HTML/CSS/JavaScript and created
      an invitation system in which professors could enter a number of student emails
      and invite them to one or more courses.  If the student did not have an account
      on site with the given email, an account would be made for them including a
      temporary password.  An invitation link would then be emailed to students
      allowing them to join the course, or they can see and accept the invites
      onsite instead.
    </div>
  </div>
{% endblock %}
