{% extends "base_generic.html" %}
  {% load static %}
{% block content %}
  <div class="center-block project-section" style="text-align: center;">
    <h1 class="skills-header">My Projects</h1>
    <div class="col-lg-8 center-block projects-overview">
      These are all of the projects that I am currently working on or have worked
      on.  They are ordered by current projects listed at the top, while older
      projects are listed below them.  Click on a project's title to view more
      information on them.
    </div>
  </div>
  <div class="center-block project-section" style="text-align: center;">
    <h1>List.it</h1>
    <div class="project-imgs">
      <a id="left-arrow-btn"><i class="fas fa-arrow-left arrow"></i></a>
      <div class="ind-project-img"><img class="listit-img"
        src="{% static 'listit/userfeatures.png' %}"></img></div>
      <div class="ind-project-img"><img class="listit-img"
        src="{% static 'listit/offlistings.png' %}"></img></div>
      <div class="ind-project-img"><img class="listit-img"
        src="{% static 'listit/auctionlistings.png' %}"></img></div>
      <div class="ind-project-img"><img class="listit-img"
        src="{% static 'listit/wishlistlistings.png' %}"></img></div>
      <div class="ind-project-img"><img class="listit-img"
        src="{% static 'listit/search.png' %}"></img></div>
      <div class="ind-project-img"><img class="listit-img"
        src="{% static 'listit/notifications.png' %}"></img></div>
      <div class="ind-project-img"><img class="listit-img"
        src="{% static 'listit/conversation.png' %}"></img></div>
      <div class="ind-project-img"><img class="listit-img"
        src="{% static 'listit/events.png' %}"></img></div>
      <a id="right-arrow-btn"><i class="fas fa-arrow-right arrow"></i></a>
      <br>
      <div class="image-tracker">
        <i class="fas fa-circle circ"></i>
        <i class="fas fa-circle circ"></i>
        <i class="fas fa-circle circ"></i>
        <i class="fas fa-circle circ"></i>
        <i class="fas fa-circle circ"></i>
        <i class="fas fa-circle circ"></i>
        <i class="fas fa-circle circ"></i>
        <i class="fas fa-circle circ"></i>
      </div>
    </div>
    <div class="iframe-container">
      <iframe src="{% static 'SPFR.pdf' %}"></iframe>
    </div>
    <br>
    <a href="{% static 'SPFR.pdf' %}" class="download" download>
      Download
    </a>
  </div>
  <div class="center-block project-section" style="text-align: center;">
    <h1>PetTP</h1>
  </div>
  <div class="center-block project-section" style="text-align: center;">
    <h1>StepAPP</h1>
  </div>
  <div class="center-block project-section" style="text-align: center;">
    <h1>Autograder</h1>
  </div>
{% endblock %}
